<section class="placement-training-banner">
  <div class="tag-line">
    <h1>opening up a world of opportunity</h1>
    <p>we believe that there is nothing more important than a skill training!</p>
  </div>
</section>
<section class="placement-content">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2>PLACEMENT</h2>
        <p>We offers 100% placement assistance on our job guaranteed courses. We recruit our students to grab the job opportunities
        in India & Abroad.</p>
        <h2>ON JOB TRAINING</h2>
        <p>On job training provides the practical knowledge to the students and a glimpse of how the industry works. We provide on
          job training on various fields of engineering under the guidance of experienced professionals.</p>
      </div>
    </div>
  </div>
</section>