$primary-color: #04091e;
$secondary-color: #e9673a;
$teritiary-color: #72bf44;
$secondary-footer-color: #0b0a09;
$primary-footer-color: #000000;
$sec-footer-color: #0b0a09;
$search-list-bg: #f5f6f4;
$search-list-border: #d7d7d7;
$agent-color-1: #fff;
$agent-color-2: #231f20;
$agent-color-3: #d5d5d5;
$agent-color-4: #53b1a7;
$agent-color-5: #323232;
$agent-color-6: #3c3c3c;
$agent-color-7: #028c8c;
$agent-color-8: #57888f;
$agent-color-9: #00100f;